:root {

    --text-preset-1-font-size: 6.4rem;
    --text-preset-1-font-weight: 600;
    --text-preset-1-line-height: 110%;
    --text-preset-1-letter-spacing: -5%;

    --text-preset-2-font-size: 5rem;
    --text-preset-2-font-weight: 600;
    --text-preset-2-line-height: 110%;
    --text-preset-2-letter-spacing: -5%;

    --text-preset-3-font-size: 3.2rem;
    --text-preset-3-font-weight: 600;
    --text-preset-3-line-height: 110%;
    --text-preset-3-letter-spacing: -5%;

    --text-preset-4-font-size: 2.4rem;
    --text-preset-4-font-weight: 600;
    --text-preset-4-line-height: 120%;
    --text-preset-4-letter-spacing: -5%;

    --text-preset-5-font-size: 2rem;
    --text-preset-5-font-weight: 600;
    --text-preset-5-line-height: 120%;
    --text-preset-5-letter-spacing: -5%;

    --text-preset-6-font-size: 1.6rem;
    --text-preset-6-font-weight-regular: 400;
    --text-preset-6-font-weight-semibold: 600;
    --text-preset-6-line-height: 150%;
    --text-preset-6-letter-spacing: 0;

    --text-preset-7-font-size: 1.4rem;
    --text-preset-7-font-weight-regular: 400;
    --text-preset-7-font-weight-bold: 700;
    --text-preset-7-line-height: 150%;
    --text-preset-7-letter-spacing: 0;


    --title-color: #253347;
    --text-color: #5E6E85;

    --card-background-color: #FFFFFF;

    --result-text-color: #FFFFFF;

    --background-gradient-1: #D6FCFE00;
    --background-gradient-2: #D6E6FE;

    --recomendation-section-background-gradient-1: #D6FCFE00;
    --recomendation-section-background-gradient-2: #f5f8ff;

    --input-text-color: #253347;
    --input-border-color: #5E6E85;

    --unity-text-color: #253347;

    --radio-background-color: #E1E7FE;
    --highlight-color: #345FF6;

    --eating-background-color: #FCDDED;
    --exercise-background-color: #FDEFE1;
    --sleep-background-color: #DDF6F6;

    --shadow: #8FAECF40
}

body {
    font-family: Inter, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.gradient {
    position: absolute;
    z-index: -1;
    height: 64.9rem;
    width: 100%;
    background: linear-gradient(to right, var(--background-gradient-1), var(--background-gradient-2));
    background-repeat: no-repeat;
    border-radius: 0 0 3.5rem 3.5rem;
}

.calculatorSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3.2rem;

    position: relative;

    padding: 3.2rem 2.4rem 6.4rem 2.4rem;
}

.calculatorSection__Container{
    display: flex;
    flex-direction: column;

    gap: 3.2rem;
}

.calculatorSection svg {
    width: 3.672rem;
    height: 3.672rem;
}

.calculatorSection__titleContainer {
    display: flex;
    flex-direction: column;

    gap: 2.4rem;
}

.calculatorSection__title {
    font-size: var(--text-preset-2-font-size);
    font-weight: var(--text-preset-2-font-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);

    text-align: center;

    color: var(--title-color);
}

.calculatorSection__text {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-regular);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    text-align: center;

    color: var(--text-color);
}



.calculatorSection__calculationContanier {
    display: flex;
    flex-direction: column;

    background-color: var(--card-background-color);

    border-radius: 1.6rem;

    padding: 2.4rem;

    gap: 2.4rem;

    box-shadow: 1.6rem 3.2rem 5.6rem var(--shadow);
}

.calculationContainer__title {
    font-size: var(--text-preset-4-font-size);
    font-weight: var(--text-preset-4-font-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);

    color: var(--title-color);
}

.calculationContainer__radioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2.4rem;

    padding-right: 1.8rem;
}

.calculationContainer__radioLabel {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-semibold);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    color: var(--input-text-color);

    margin-left: 1.6rem;
}

.calculationContainer__inputsContainer {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.inputsContainer__container {
    display: flex;
    flex-direction: column;

    gap: 0.8rem;
}

.inputsContainer__input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2.4rem 0 2.4rem;

    border: solid 0.1rem var(--input-border-color);
    border-radius: 1.2rem;

    cursor: pointer;
}

.inputsContainer__input:hover{
    border: solid 0.1rem var(--highlight-color);
}

.inputsContainer__input:focus-within{
    border: solid 0.1rem var(--highlight-color);
}

.inputsContainer__input input {
    border: none;
    outline: none;
    height: 7.7rem;
    width: 17.3rem;
}


.inputsContainer__label {
    font-size: var(--text-preset-7-font-size);
    font-weight: var(--text-preset-7-font-weight-regular);
    line-height: var(--text-preset-7-line-height);
    letter-spacing: var(--text-preset-7-letter-spacing);

    color: var(--text-color);
}

.inputsContainer__data {
    font-size: var(--text-preset-4-font-size);
    font-weight: var(--text-preset-4-font-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);

    color: var(--highlight-color);
}

.input {
    font-size: var(--text-preset-4-font-size);
    font-weight: var(--text-preset-4-font-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);

    color: var(--input-text-color);

    cursor: pointer;
}


.calculationContanier__resultContainer {
    display: flex;
    flex-direction: column;

    max-width: 32.9rem;

    padding: 3.2rem;

    border-radius: 1.6rem;

    gap: 2.4rem;

    background-color: var(--highlight-color);
}

.resultContainer__textContainer {
    display: flex;
    flex-direction: column;

    gap: 0.8rem;
}

.resultContainer__welcomeText{
    font-size: var(--text-preset-4-font-size);
    font-weight: var(--text-preset-4-font-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);

    color: var(--result-text-color);

    text-align: left;
}

.resultContainer__welcomeInstructionText{
    font-size: var(--text-preset-7-font-size);
    font-weight: var(--text-preset-7-font-weight-regular);
    line-height: var(--text-preset-7-line-height);
    letter-spacing: var(--text-preset-7-letter-spacing);

    color: var(--result-text-color);

    text-align: left;
}

.resultContainer__text {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-semibold);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    color: var(--result-text-color);
}

.resultContainer__bmiNumber {
    font-size: var(--text-preset-2-font-size);
    font-weight: var(--text-preset-2-font-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);

    color: var(--result-text-color);

    overflow: hidden;
}

.resultContainer__detailText {
    font-size: var(--text-preset-7-font-size);
    font-weight: var(--text-preset-7-font-weight-regular);
    line-height: var(--text-preset-7-line-height);
    letter-spacing: var(--text-preset-7-letter-spacing);

    color: var(--result-text-color);
}

.resultContainer__detailText--highlight {
    font-weight: var(--text-preset-7-font-weight-bold);
}

.resultDetailSection {
    display: flex;
    flex-direction: column;

    gap: 4.8rem;
}

img {
    max-width: 100%;
}

.resultDetailSection__articleContainer {
    display: flex;
    flex-direction: column;

    padding: 0 2.35rem 6.161rem 2.35rem;

    gap: 3.2rem;
}

.resultDetailSection__articleContainer__title {
    font-size: var(--text-preset-3-font-size);
    font-weight: var(--text-preset-3-font-weight);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);

    color: var(--title-color);
}

.resultDetailSection__articleContainer__text {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-regular);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    color: var(--text-color);

    text-align: left;
}


.recommendationSection {
    display: flex;
    flex-direction: column;

    gap: 4rem;

    background: linear-gradient(to right, var(--recomendation-section-background-gradient-1), var(--recomendation-section-background-gradient-2));

    padding: 4.8rem 2.4rem;

}

.recommendationSection__articleContainer {
    display: flex;
    flex-direction: column;

    gap: 3.2rem;
}

.recommendationSection__articleContainer__textContainer {
    display: flex;
    flex-direction: column;

    gap: 2.4rem;
}

.recommendationSection__articleContainer__textContainer__title {
    font-size: var(--text-preset-4-font-size);
    font-weight: var(--text-preset-4-font-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);

    color: var(--title-color);

    text-align: left;
}

.recommendationSection__articleContainer__textContainer__text {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-regular);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    color: var(--text-color);

    text-align: left;
}




.limitationSection {
    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: repeat(6, auto);

    grid-template-areas:
        'intro'
        'gender'
        'age'
        'muscle'
        'pregnancy'
        'race'
    ;

    padding: 8.2rem 2.9rem 9.6rem 1.9rem;

    gap: 1.6rem;
}

.intro {
    grid-area: intro;

    display: flex;
    flex-direction: column;

    gap: 3.2rem;

    margin-bottom: 4rem;
}

.intro__title {
    font-size: var(--text-preset-3-font-size);
    font-weight: var(--text-preset-3-font-weight);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);

    color: var(--title-color);

    text-align: center;
}

.intro__text {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-regular);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    color: var(--text-color);

    text-align: center;
}

.gender,
.age,
.muscle,
.pregnancy,
.race {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;

    padding: 2.4rem;

    box-shadow: 1.6rem 3.2rem 5.6rem var(--shadow);

    border-radius: 1.6rem;

    background-color: var(--card-background-color);
}

.gender {
    grid-area: gender;
}

.age {
    grid-area: age;
}

.muscle {
    grid-area: muscle;
}

.pregnancy {
    grid-area: pregnancy;
}

.race {
    grid-area: race;
}

.limitationSection__limitationContainer{
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

.limitationSection__limitationTitle{
    font-size: var(--text-preset-5-font-size);
    font-weight: var(--text-preset-5-font-weight);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);

    color: var(--title-color);

    text-align: left;
}

.limitationSection__limitationText{
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight-regular);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);

    color: var(--text-color);

    text-align: left;
}



.hidden{
    display: none;
}